sudo: false
language: rust
rust:
- stable
before_script:
- sudo apt-get update
- sudo apt-get install ffmpeg
- export PKG_CONFIG_PATH="$HOME/ffmpeg_build/lib/pkgconfig"
- rustup component add rustfmt --toolchain stable-x86_64-unknown-linux-gnu
- rustup component add clippy
script:
- cargo fmt -- --check
- cargo build
- cargo test --all
- cargo clippy --all
cache: cargo
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""